#XML files
*.xml
*.__pycache__

#Python files
diff.py
password.py
main.py
lxml_crawler.py
db.py
crawler.py

downloadfile.py
bygenre.py

#CSV files
*.csv

#JSON files
podcast_ids.json

#.txt files
*.txt

# folder
sitemaps/
rough/ 
Rate_check/

__pycache__/

# DB files
*.db